html, body {
  font-family: 'Open Sans', serif;
}
.hero.is-dark {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('https://source.unsplash.com/collection/415470')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 5rem 0;
  line-height: 1.5;
}

.box {
  background-color: #7D7D7D;
  padding-top: 10px;
  text-align: left;
}

#saved_songs {
  background-color: #7D7D7D !important;
}

.footer {
  padding: 1rem 1rem 1rem;
  background-color: #7D7D7D;
  opacity: 0.9
  color: white;
}

.subtitle {
  padding-bottom: -40px;
}

.search-label {
  color: white
}

.modal-card-title {
  text-align: center;
}
.modal-card-body,
.modal-card-head,
.modal-card-foot {
}
